body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
 
 
 html{
  scroll-behavior: smooth;
  /* This causes the anchor tag to go to the top of the section */
  scroll-padding-top: 70px; 
} 


body{
    font-family: 'Quicksand', sans-serif;
}

body p{
    color: #525253;
}


#lapajitaProject{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lapajitaProject h1 {
    text-align: center;
    color: #525253;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 10px;
}

#lapajitaProject p {
    text-align: center;
    color: #525253;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;
}

#lapajitaProject .heading{
    font-weight: bold;
    color: #525253;font-weight: bold;
    color: #525253;
}

/* #lapajitaProject img{
    height: 60px;
    width: 35px;
} */

.center{
    display: flex;
    justify-content: center;
}

.center img{
    align-items: center;
    height: 45px;
    width: 30px;
    margin-top: 10px;
}
/* .image-logo{
    background: url("https://s6.gifyu.com/images/favicon-lapajita.png");
} */
/* .final-website embed {
    height:600px;
    width: auto;
    margin-top: 50px;
} */

.videoLapajita{
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    border-style: none;
    height: 210px;
    width: 320px;
}

@media (min-width:770px) and (max-height: 1883px)  {
    video{
        border-style: none;
        height: 450px;
        width: 770px;
       /*  width="320" height="240" */
    }
    #lapajitaProject h1{
        line-height: 1.8;
    }
    
#lapajitaProject p{
    font-size: 1.4rem;
    padding-right: 25%;
    padding-left: 25%;
    margin-bottom: 30px;
}
.center img{
    height: 55px;
    width: 35px;
}
    

}

@media (max-width: 360px) {
    video {
        height: 180px;
        width: 240px;
    }
    #lapajitaProject h1 {
        font-size: 1.5rem;
        margin-top: 0; 
    }
    #lapajitaProject p {
        text-align: center;
        color: #525253;
        font-size: 1rem;
        line-height: 1.6;
        margin-top: 20px;
    }
}